/* 
    ESERCIZIO 1
*/
.ex-1-square:hover:hover{
    background-color: red;

    transition: background-color 3s;
}

/* 
    ESERCIZIO 2
*/

.ex-2-square:active{
    width: 100%;

    transition: width 5s;
}

/* 
    ESERCIZIO 3
*/

.ex-3-square:hover{
    border-radius: 50%;

    transition: border-radius 3s;
}

/* 
    ESERCIZIO 4
*/

.ex-4-square:hover{
    background-color: transparent;

    transition: background-color 5s;
}

/* 
    ESERCIZIO 5
*/

.ex-5-square:hover{
    width: 80px;
    height: 80px;

    /* transition: width 2s, height 2s; */

}

.ex-5-square:active{
    width: 40px;
    height: 40px;

    /* transition: width 2s, height 2s; */
}


/* 
    ESERCIZIO 6
*/

.ex-6-img:hover {
    filter: grayscale(1);

}

/* 
    ESERCIZIO 7
*/

