/* 
    ESERCIZIO 1
*/
.ex-1-square:hover:hover{
    background-color: red;

    transition: background-color 3s;
}

/* 
    ESERCIZIO 2
*/

.ex-2-square:active{
    width: 100%;

    transition: width 5s;
}

/* 
    ESERCIZIO 3
*/

.ex-3-square:hover{
    border-radius: 50%;

    transition: border-radius 3s;
}

/* 
    ESERCIZIO 4
*/

.ex-4-square:hover{
    background-color: transparent;

    transition: background-color 5s;
}

/* 
    ESERCIZIO 5
*/

.ex-5-square:hover{
    width: 80px;
    height: 80px;

    transition: width 2s, height 2s;

}

.ex-5-square:active{
    width: 40px;
    height: 40px;

    transition: width 2s, height 2s;
}


/* 
    ESERCIZIO 6
*/

.ex-6-img:hover {
    filter: grayscale(1);

}

/* 
    ESERCIZIO 7
*/

.ex-7-img:hover{
    filter: brightness(50%) blur(3px);

    transition: filter 3s;
}

/* 
    ESERCIZIO 8
*/

.ex-8-img:hover{
    filter: sepia(20%) hue-rotate(120deg);
    border-radius: 25%;

    transition: filter 3s, border-radius 3s;
}

/* 
    ESERCIZIO 9
*/

.ex-9-img:hover{
    filter: contrast(40%) drop-shadow(5px 5px 10px green);
    border-radius: 30%;
    transform: scale(75%);

    transition: filter 4s, border-radius 4s, transform 4s;
}

/* 
    ESERCIZIO 10
*/

.ex-10-icon:hover{
    animation: rotate 3s linear infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(90deg);
    }
    50% {
        transform: rotate(180deg);
    }
    75% {
        transform: rotate(270deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

/* 
    ESERCIZIO 11
*/

.ex-11-icon:hover{
    animation: rotate 3s linear infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(90deg);
    }
    50% {
        transform: rotate(180deg);
    }
    75% {
        transform: rotate(270deg);
    }

